# Core Django and server
Django==5.2.4
gunicorn==26.0.0
psycopg2-binary==2.9.12
dj-database-url==3.1.2
whitenoise==6.9.0
asgiref==3.9.1
sqlparse==0.5.3

# Your Django app packages (keep only those you actually use)
django-import-export==4.4.1
django-ckeditor-5==0.2.20
django-admin-thumbnails==1.0.0
Pillow==12.2.0
xhtml2pdf==0.2.16
python-decouple==3.8
python-dotenv==1.2.1
requests==2.32.4
pymongo==4.5.0
motor==3.3.1
beautifulsoup4==4.14.3   # if you use it
PyYAML==6.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

# Required dependencies (kept because your code may need them)
cryptography==45.0.4
PyJWT==2.10.1
passlib==1.7.4
email-validator==2.3.0
typing_extensions==4.15.0
wrapt==1.17.2
six==1.17.0
decorator==5.2.1

sib-api-v3-sdk==7.5.0