{% extends 'base.html' %}
{% load static %}
{% load cart_extras %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <h4 class="text-center mb-5 fav-color">Review Your Order and Make Payment</h4>

        <div class="row">
            <!-- Billing Address Section -->
            <aside class="col-lg-8 col-md-12 mb-4">
                <div class="card">
                    <h5 class="card-header fav-color">Billing Address</h5>
                    <div class="card-body">                
                        <p class="card-text mb-0">{{order.full_name}}</p> 
                        <p class="card-text mb-0">{{order.full_address}}</p> 
                        <p class="card-text mb-0">{{order.city}}, {{order.state}}</p> 
                        <p class="card-text mb-0">{{order.country}}</p> 
                        <p class="card-text mb-0">{{order.email}}</p> 
                        <p class="card-text mb-0">{{order.phone}}</p> 
                        {% if order.order_note %}
                        <b class="card-text mb-0">Order Note: {{order.order_note}}</b> 
                        {% endif %}
                    </div>
                </div>

                <!-- <div class="card">
                    <h5 class="card-header fav-color">Payment Method</h5>
                    <div class="card-body">                
                        <p class="card-text">Esewa</p> 
                    </div>
                </div> -->

                <!-- Review Products Section -->
                <div class="card">
                    <h5 class="card-header fav-color">Review Products</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="120">Quantity</th>
                                        <th scope="col" width="120">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside">
                                                    <img src="{{cart_item.product.image.url}}" class="img-sm">
                                                </div>
                                                <figcaption class="info">
                                                    <a href="{{cart_item.product.get_url}}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                                    <p class="text-muted small">
                                                        {% if cart_item.variation.all %}
                                                        {% for item in cart_item.variation.all %}
                                                        <span class="font-dark">{{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}</span>
                                                        <br>
                                                        <span class="font-dark">Model Number : {{item.model_number}}</span>
                                                        <br>
                                                        {% endfor %}
                                                        {% endif %}
                                                        {% if cart_item.product.model_number %}
                                                        <span class="font-dark">Model Number : {{cart_item.product.model_number}}</span>
                                                        {% endif %}
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <var>{{cart_item.quantity}}</var>
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                {% if cart_item.variation.all %}
                                                {% for item in cart_item.variation.all %}
                                                <var class="price">{{ cart_item.quantity|multiply:item.price }}</var>
                                                <small class="text-muted d-block">${{ item.price }} each</small>
                                                {% endfor %}
                                            
                                                {% else %}
                                                <var class="price">{{ cart_item.sub_total }}</var>
                                                <small class="text-muted d-block">${{ cart_item.product.price }} each</small>
                                                {% endif %}
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </aside> <!-- col-lg-8 -->

            <!-- Order Summary Section -->
            <aside class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">${{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right">${{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static 'images/misc/payments.png' %}" height="26">
                        </p>
                        <form action="{% url 'workingonpayment' %}" method="post"> 
                            {% csrf_token %}
                            <input type="hidden" name="order_number" value="{{order.order_number}}">
                            <button type="submit" class="btn button-color btn-block">Make Payment</button>
                        </form>
                    </div>
                </div> <!-- card-body -->
            </aside> <!-- col-lg-4 -->
        </div> <!-- row -->

    </div> <!-- container -->
</section>

{% endblock content %}
